snippet ginfn "gin controller" b
func $1 (c *gin.Context) \{
	$0
\}
endsnippet

snippet cjson "c.JSON()"
c.JSON(${1:400}, gin.H\{"${2:message}": $3\})
return
endsnippet

snippet ginimp "Import gin" b
import (
	"github.com/gin-gonic/gin"
)
endsnippet

snippet ifer "if err != nil" b
if err != nil \{
	return ${1:"",} err
\}
$0
endsnippet

snippet ernil "; err != nil"
err != nil \{
	return err
\}
endsnippet
